* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ============================= */
/* BASE */
/* ============================= */

body {
  font-family: 'Inter', sans-serif;
  background: #ffffff;
  color: #111;
  line-height: 1.6;
}

/* ============================= */
/* HERO PREMIUM */
/* ============================= */

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  color: #fff;

  background:
    linear-gradient(
      to right,
      #3a3a3a 0%,
      #2b2b2b 40%,
      #1a1a1a 70%,
      #000000 100%
    );

  background-size: cover;
  background-position: 100% center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  z-index: 1;
}



.hero-left {
  max-width: 520px;
  z-index: 100;
  pointer-events: auto;
}

.hero-left h1 {
  font-size: 3.8rem;
  font-weight: 800;
}

.hero-left h2 {
  font-size: 1.8rem;
  font-weight: 300;
  margin: 10px 0;
  color: #ccc;
}

.hero-left p {
  margin: 25px 0;
  font-size: 1.05rem;
  color: #e0e0e0;
}

.hero-right {
  position: relative;
  z-index: 10;
  pointer-events: none;
  left: -150px

}

/* ============================= */
/* BOTONES GENERALES */
/* ============================= */

.btn {
  display: inline-flex;
  min-width: 160px;
  padding: 14px 30px;
  background: #fff;
  color: #000;
  text-decoration: none;
  font-weight: 600;
  border-radius: 999px;
  transition: 0.3s;
  align-items: center;        /* centra vertical */
  justify-content: center;
  cursor: pointer;
  position: relative;
  z-index: 200;
  touch-action: manipulation;
}

.btn:hover {
  background: #ccc;
}

.btn.dark {
  background: #000;
  color: #fff;
}

.btn.dark:hover {
  background: #333;
}

/* ============================= */
/* SECCIONES */
/* ============================= */

.section {
  padding: 80px 10%;
}

.section.gray {
  background: #f2f2f2;
}

.section h3 {
  font-size: 2rem;
  margin-bottom: 30px;
}

/* ============================= */
/* SERVICIOS */
/* ============================= */

.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.card {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #ddd;
    position: relative;
  overflow: hidden;
  min-height: 260px;

  background-size: cover;
  background-position: center;
  color: #fff;

  cursor: pointer;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;

  background: rgba(0,0,0,0.55);
  opacity: 0;

  transition: opacity 0.4s ease;
  z-index: 1;
}
.card h4,
.card p {
  position: relative;
  z-index: 2;

  opacity: 0;
  transform: translateY(20px);

  transition: all 0.4s ease;
}
.card:hover::before {
  opacity: 1;
}

.card:hover h4,
.card:hover p {
  opacity: 1;
  transform: translateY(0);
}


/*aca van los linck de las imagenes de fondo*/
.service-1 {
  background-image: url("service3.webp");
}

.service-2 {
  background-image: url("service1.avif");
}

.service-3 {
  background-image: url("service2.jpg");
}

/* ============================= */
/* PORTFOLIO */
/* ============================= */

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  position: relative;
  z-index: 10;
}

.work {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 180px;
  background: #ddd;

  text-decoration: none;
  color: #111;
  font-weight: 600;

  border-radius: 10px;
  cursor: pointer;

  position: relative;
  z-index: 1;

  transition: transform 0.3s ease, background 0.3s ease;
  pointer-events: auto;
}

.work:hover {
  background: #ccc;
  transform: translateY(-4px);
}


/* ============================= */
/* PERFIL CIRCULAR */
/* ============================= */

.profile-wrapper {
  position: relative;
  width: 250px;
  height: 250px;
  transform: scale(2);              /* ← ACÁ */
  transform-origin: center;
  
}

.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 0%;
  overflow: hidden;
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
 
 


}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  pointer-events: none;  
}

/* ============================= */
/* BOTONES CIRCULARES */
/* ============================= */

.circle-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(0,0,0,0.1);
  color: #fff;
  text-decoration: none;
  font-size: 0.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transition: all 0.3s ease;
  z-index: 20;
  cursor: pointer;
}

.circle-btn:hover {
  background: #E0E0E0;
  color: #000;
  transform: scale(1.1);
}

.contact-btn {
  display: flex;              /* clave para mobile */
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 260px;
  padding: 14px 20px;

  background: rgba(0,0,0,0.4);
  color: #fff;
  text-decoration: none;

  border-radius: 999px;
  font-size: 1rem;

  cursor: pointer;
  transition: all 0.3s ease;


  z-index: 10;
  pointer-events: auto;
}

.contact-btn:hover {
  background: rgba(0,0,0,0.6);
}

/* POSICIONES TIPO RELOJ */

.pos-1 {
  top: 5%;
  right: 30%;
}

.pos-2 {
  top: 20%;
  right: 10%;
}

.pos-3 {
  bottom: 39%;
  right: 4%;
}

.pos-4 {
  bottom: 20%;
  right: 15%;
}

/* ============================= */
/* FOOTER */
/* ============================= */

footer {
  background: #000;
  color: #aaa;
  text-align: left;
  padding: 10px 0;
  font-size: 0.8rem;
}

#contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;

}
#contacto p {
  margin-bottom: 30px;
}

/* ============================= */
/* RESPONSIVE */
/* ============================= */

@media (max-width: 900px) {

   

  .hero {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 100px 5%;
    background-position: center;
    overflow: hidden;
  }

  .pos-1 { top: 20%; right: 5%; }
  .pos-2 { top: 35%; right: -5%; }
  .pos-3 { bottom: 33%; right: -2%; }
  .pos-4 { bottom: 15%; right: 7%; }
  
  .hero-right {
      pointer-events: none;   /* 👈 libera el click */
      z-index: 1;
  }

  .hero-left {
    margin-bottom: 100px;
  .hero-left {
    position: relative;
    z-index: 300;            /* 👈 botón por encima de todo */
  }
  }
  .hero-left h1 {
  font-size: clamp(2.4rem, 3vw, 3.6rem);
}
  .hero-left h2 {
  font-size: clamp(1rem, 3vw, 2rem);
}
  .profile-wrapper {
    width: 260px;
    height: 260px;
  }

  .profile-image {
    width: 120px;
    height: 120px;
    overflow: visible;
 
  }
  .profile-image img {
      width: 150%;
      height: 150%;
    object-fit: contain;
    right: -100%;

  }
  .circle-btn {
    width: 36px;
    height: 36px;
    font-size: 0.4rem;
  }
  .btn {
    min-width: 160px;
    
    max-width: 280Px;
  }
  .contact-btn {
    font-size: 0.9rem;
    padding: 12px 18px;
  }
  .work {
    min-height: 160px;
  }
  .card::before {
    opacity: 1;
  }

  .card h4,
  .card p {
    opacity: 1;
    transform: translateY(0);
  }
    #contacto {
    padding: 30px 5%;
  }
    footer {
    font-size: 0.8rem;
    padding: 8px 0;
  }
}

